# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# XCODE #
*.xcodeproj
*.xcodeproj/*.*
FuzzyLogic.1

# MAC #
.DS_Store

# Netbeans #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Office #
~$*

# Cache files #
cache/
/FuzzyLogic/framework.cbp
/FuzzyLogic/framework.depend
/FuzzyLogic/framework.layout
/FuzzyLogic/bin
